# fly.toml app configuration file generated for lcc-live-dark-paper-70 on 2025-01-17T17:45:54-07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'lcc-live-dark-paper-70'
primary_region = 'den'
kill_signal = 'SIGINT'
kill_timeout = '5s'

[experimental]
  auto_rollback = true

[env]
  PORT = '3000'

[deploy]
  strategy = "bluegreen"
  release_command = "/usr/local/bin/lcc-live purge-cache"
  release_command_timeout = "30s"

[metrics]
  port = 3000
  path = "/_/metrics"

[http_service]
  internal_port = 3000
  # force_https = true
  min_machines_running = 1
  processes = ['app']
  [[http_service.checks]]
    grace_period = "10s"
    interval = "30s"
    method = "GET"
    timeout = "5s"
    path = "/healthcheck"

[[vm]]
  size = 'shared-cpu-1x'

