<!DOCTYPE html>
<html lang="en">
  <head>
    <title>[LIVE] - LCC</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
    <meta name="charset" content="utf-8"><meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta name="theme-color" content="#f2f3f4">
    <meta name="msapplication-square310x310logo" content="icon_largetile.png">
    <meta name="Description" content="LCC Live">
    <link rel="stylesheet" href="/s/style.css">
  {{if eq .Name "LCC"}}
    <link rel="prefetch" href="/bcc" />
  {{else}}
    <link rel="prefetch" href="/" />
  {{end}}
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="/s/apple-touch-icon.png"> -->
    <!-- <link rel="icon" type="image/png" sizes="32x32" href="/s/favicon-32x32.png"> -->
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="/s/favicon-16x16.png"> -->
    <!-- <link rel="icon" type="image/png" href="/s/favicon.ico"> -->
  </head>
  <body>
    <header>
      <nav class="canyon-toggle">
      {{if eq .Name "LCC"}}
        <a aria-current="page" class="active" href="/" tabindex=1>LCC</a>
        <a class="" href="/bcc" tabindex=2>BCC</a>
      {{else}}
        <a class="" href="/" tabindex=1>LCC</a>
        <a aria-current="page" class="active" href="/bcc" tabindex=2>BCC</a>
      {{end}}
      </nav>
      <road-status>
        <img id="img-{{.Status.ID}}" src="image/{{.Status.ID}}" alt="{{.Status.Alt}}">
      </road-status>
    </header>
    <section id="container">
    {{range $index, $c := .Cameras}}
    {{if ne $c.Kind "roadstatus"}}
      <camera-feed tabindex={{addThree $index}}> <!-- TODO: tab index, and reload !-->
      {{if eq $c.Kind "iframe"}}
        <iframe 
          loading="lazy" 
          src="{{$c.Src}}" 
          title="{{$c.Alt}}" 
          frameborder="0" 
          fetchpriority=high
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
          referrerpolicy="strict-origin-when-cross-origin">
        </iframe>
      {{else}}
        <img id="img-{{$c.ID}}" src="/image/{{$c.ID}}" alt="{{$c.Alt}}" loading="lazy">
      {{end}}
        <h4>{{$c.Alt}}</h4>
      </camera-feed>
    {{end}}
    {{end}}
    </section>
    <the-overlay></the-overlay>
    <script src="/s/script.js"></script>
  </body>
</html>
