{{define "analytics"}}
    <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "36e125d458324b7c9e08c47d2460f6a0"}'></script><!-- End Cloudflare Web Analytics -->
{{end}}

